.icon-menu {
  font-size: 1.5em;
  float: right;
}


.main-nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

.main-nav:hover ul {
  display: block;
}

.main-nav li {
  margin-right: .5em;
  font-size: 2em;
  padding: .6em .3em;
  border-bottom: 1px solid #ccc;
}

.main-nav a {
  text-decoration: none;
  color: rgb(230, 127, 20);
}

@media (min-width: 800px) {
  .icon-menu {
      display: none;
    }

    .main-nav {
      padding: .2em .2em .2em 2em;
    }

    .main-nav ul {
      display: block;
    }

    .main-nav ul li {
      display: inline;
      border-bottom: none;
    }

    .main-nav ul li:hover a {
      color: rgb(67, 31, 154);
    }
}
