html,
body{
  background-size: cover;
  margin: 0;
  padding: 30px;

}
.welcome{
  background: url('../img/welcome3.jpg');
  background-repeat:no-repeat;
  background-position: center center;
  height:500px;
  width: 100%;
}

.text {
  height: 300px;
  width: 25%;
  background-color: rgba(106, 109, 139, 0.3);
  margin: 40px;
  position: relative;
  left: 100px;
}

img{
  display: block;
  margin: auto;
  width: 50%;
}
