html {
  width: 100%;
}
body{
  background-size: cover;
  margin: 0;
  padding: 30px;
}

img{
  display: block;
  margin: auto;
  width: 50%;
}

h1 {
  font-size: 50px;
  color: rgb(16, 106, 71);
}

h3 {
  font-size: 20px;
  color: blue;
}

a {
  text-decoration: none;
}

article {
  display: none;
}
